body {
  width: 450px;
  margin: 0 auto;
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
button {
  margin: auto;
  width: 100px;
  height: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
}
label {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: baseline;
}
fieldset {
  border: none;
}
input {
 padding: 5px 10px;
 width: 100px;
 font
}
